<div class="first-stack need-padding">
    <div class="left-Introduce">
        <div class="title-group">
            <span class="title"><%- theme.firstWarp.title %></span>
        </div>
        <div class="discription">
            <span class="discription-text"><%- theme.firstWarp.text %></span>
        </div>
        <a href="<%= url_for(theme.firstWarp.buttonUrl) %>" class="about-button"><%= theme.firstWarp.button %></a>
    </div>
    <div class="right-stack">
        <img class="banner-img" src="<%= url_for(theme.firstWarp.img) %>" alt="banner" title="banner">
    </div>
</div>
