<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    <%- config.title %>
    <% if (config.subtitle !== ''){ %>
        - <% config.subtitle %>
    <% } %>
</title>
<noscript>开启Javascript是必要的</noscript>
<link rel="stylesheet" href="/css/var.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" type="image/x-icon" href="<%= url_for(theme.site.siteIcon) %>">
<link rel="apple-touch-icon" href="<%= url_for(theme.site.siteIcon) %>">
<meta name="apple-mobile-web-app-title" content="<%= config.title %>">
<link rel="bookmark" href="<%= url_for(theme.site.siteIcon) %>">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="<%= url_for(theme.site.siteIcon) %>">
<meta name="description" content="<%= config.description %>">
<meta name="theme-color" content="#1C1C1F">
<% if (theme.extends.head) for (const i of theme.extends.head){ %>
    <%- i %>
<% } %>
<!--<link rel="stylesheet" href="/font/iconfont.css">-->
